body{
    background-image: url("../assets/images/graphy.png");
    /*width:100%;*/
}

a:hover{
    color: blue;
}

a:active{
  background-color:teal;
  color:white;
}

.container1{
    margin-left:260px;
}

.navbar{
  background-image:linear-gradient(to right,rgb(52, 52, 52),rgb(82, 82, 82));
  overflow-wrap: break-word;
  font-size: larger;
}

.break-word{
    overflow-wrap: break-word;
    text-align: center;
    color:white;
    font-weight:bold;
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:5px;
}
.border-style{
    background-image:linear-gradient(to right,teal,rgb(82, 197, 197));
    padding:10px;
    margin:20px 0px;
}

.facts{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color:rgb(53, 53, 53);
}

.placeholder-test{
  background-image: url("../assets/images/skyline.png");
  background-size: cover;
  max-width:100%;
  height:-webkit-fill-available;
  background-repeat: center no-repeat;
}

.placeholder{
  position: relative;
  left:-55px;  
  background-image: url("../assets/images/skyline.png");
  width: 1600px;
  height: 800px;
  opacity: 1;
  
}

.spacer{
  margin-top:60px;
  margin-left:260px;
}

.text-style{
  margin-top:100px;
  font-size: 3em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color:rgb(53, 53, 53);
}

.fixed-left{
position: fixed;
top:0;
left:0;
bottom:0;
max-width:224px;
flex-direction: column;
flex-flow: column nowrap;
align-items: flex-start;
}

.navbar-expand-lg .navbar-nav{
    flex-direction:column;
    
}

.navbar-collapse{
  flex-grow:0;
  margin-top:20px;
}

html {
    scroll-behavior: smooth;
  }

.wrapper {
    /*display: flex;*/
    margin-left: 224px;
    width: 100%;
    margin-top:0px;
    /*align-items: stretch;*/
    /*position: fixed;*/
}

.image-name{
   /* width: 300px;*/
    padding: 20px 0px;
    background:#4aaaa5;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
}

.image-resize{
    display: flex;
    margin-top: 20px;
    width:300px;
    height:200px;
    margin-bottom: 30px;
}

.link-format{
    text-decoration: none;
    color:#ffffff;
}

.p-text{
font-size: 1.5em;
font-family: Arial, Helvetica, sans-serif;
margin-top:60px;
flex-grow: 1;
margin-left:20px;
}

/*@media (min-width: 768px){
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 22.666667%;
}
}

@media (min-width: 576px){
.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 37.666667%;
}
}*/